@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&display=swap');



* {
    margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.animae-font {
font-family: 'Cinzel Decorative', cursive;
}