@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&display=swap');

.animae-font {
    font-family: 'Cinzel Decorative', cursive !important;
}

input,
textarea,
select {
    text-decoration: none !important;
    outline: 0 !important;
    border-top-left-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    /* border-radius: 50px !important; */
    box-shadow: none !important;
}

.btn,
.btn-close {
    text-decoration: none !important;
    outline: 0 !important;
    box-shadow: none !important;
}

.search-button {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
}

input:focus,
textarea:focus,
select:focus {
    border-color: #6c757d !important;
    text-decoration: none !important;
    outline: 0 !important;
    box-shadow: none !important;
}

.list-group-item {
    border-radius: 50px !important;
}

.img-thumbnail {
    height: 300px !important;
}